header
{
	width:100%;
	height:250px;
	animation-name:anim2;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:1;
	background-color:black;
	
	
}
p.name
{
	font-size:110px;
	color:white;
	letter-spacing:6px;
	text-shadow:6px 6px 5px blue;
	font-family: 'Bangers';
	text-align:center;
}
body
{
	background-image:linear-gradient( aqua 0%,AliceBlue 70%);
	width:99%;
	float:right;
	
}
@keyframes anim2
{
	0%   {background-color:white;}
	100% {background-color:black;}
}
footer
{
	width:100%;
	height:200px;
	background-color:black;
	color:white;
	padding:1px;
}
*, html
{
	margin:0;
	padding:0;
}
p#headings3
{
	font-family:'Homemade Apple';
	font-size:30px;
	font-weight:900;
}
p#headings4
{
	font-family:'Rock Salt';
	font-size:15px;
	color:blue;
	font-weight:700;
}
img
{
	width:50px;
	height:50px;
}
div
{
	font-family:'Rock Salt';
	font-size:20px;
	font-weight:700;
	color:red;
}
a
{
	color:pink;
}
#specialimg
{
	width:90px;
	height:50px;
}
body *
{
	text-align:center;
}